<a href="https://colab.research.google.com/github/andrew-veriga/sunpower/blob/master/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
# https://github.com/andrew-veriga/sunpower/blob/master/SES_1_Cherny_Yar_-_gotovo.csv
import pandas as pd

df = pd.read_csv("https://github.com/andrew-veriga/sunpower/raw/master/SES_1_Cherny_Yar_-_gotovo.csv", parse_dates=["Дата"], index_col="Дата")
df.head()

                     № п/п  Время  ...  Unnamed: 43  Unnamed: 44
Дата                               ...
2019-04-25 01:00:00    1.0   1:00  ...          NaN          NaN
2019-04-25 04:00:00    2.0   4:00  ...          NaN          NaN
2019-04-25 07:00:00    3.0   7:00  ...          NaN          NaN
2019-04-25 10:00:00    4.0  10:00  ...          NaN          NaN
2019-04-25 13:00:00    5.0  13:00  ...          NaN          NaN

[5 rows x 44 columns]

In [51]:
df.columns

Index(['№ п/п', 'Время', 'Мощность, МВт',
       'Температура воздуха (градусы Цельсия) на высоте 2 метра над поверхностью земли',
       'Атмосферное давление на уровне станции (миллиметры ртутного столба)',
       'Атмосферное давление, приведенное к среднему уровню моря (миллиметры ртутного столба) ',
       'Относительная влажность (%) на высоте 2 метра над поверхностью земли',
       'Направление ветра (румбы) на высоте 10-12 метров над земной поверхностью, осредненное за 10-минутный период , непосредственно предшествовавший сроку наблюдения ',
       'Скорость ветра на высоте 10-12 метров над земной поверхностью, осредненное за 10-минутный период , непосредственно предшествовавший сроку наблюдения (метры в секунду) ',
       'Общая облачность',
       'Текущая погода, сообщаемая с метеорологической станции ',
       'Прошедшая погода между сроками наблюдения 1',
       'Прошедшая погода между сроками наблюдения 2',
       'Слоисто-кучевые, слоитсые, кучевые и кучево-дождевые облака',
       'Количество всех наблюдающихся облаков Cl или, при отсутствии облаков Cl, количество всех наблюдащихся облаков Cm',
       'Высота основания самых низких облаков (м)',
       'Высококучевые, высокослоистые и слоисто-дождевые облака',
       'Перистые, перисто-кучевые и перисто-слоистые облака',
       'Горизонтальная дальность видимости (км)', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44'],
      dtype='object')

In [55]:
series = df[
            [
            'Мощность, МВт',
            'Температура воздуха (градусы Цельсия) на высоте 2 метра над поверхностью земли',
            'Атмосферное давление на уровне станции (миллиметры ртутного столба)',
            'Атмосферное давление, приведенное к среднему уровню моря (миллиметры ртутного столба) ',
            'Относительная влажность (%) на высоте 2 метра над поверхностью земли',
            'Направление ветра (румбы) на высоте 10-12 метров над земной поверхностью, осредненное за 10-минутный период , непосредственно предшествовавший сроку наблюдения ',
            'Скорость ветра на высоте 10-12 метров над земной поверхностью, осредненное за 10-минутный период , непосредственно предшествовавший сроку наблюдения (метры в секунду) ',
            'Общая облачность',
            'Текущая погода, сообщаемая с метеорологической станции ',
            'Прошедшая погода между сроками наблюдения 1',
            'Прошедшая погода между сроками наблюдения 2',
            'Слоисто-кучевые, слоитсые, кучевые и кучево-дождевые облака',
            'Количество всех наблюдающихся облаков Cl или, при отсутствии облаков Cl, количество всех наблюдащихся облаков Cm',
            'Высота основания самых низких облаков (м)',
            'Высококучевые, высокослоистые и слоисто-дождевые облака',
            'Перистые, перисто-кучевые и перисто-слоистые облака',
            'Горизонтальная дальность видимости (км)',
             ]]#.asfreq(None)
            
            
series.head()

                     Мощность, МВт  ...  Горизонтальная дальность видимости (км)
Дата                                ...
2019-04-25 01:00:00       0.000000  ...                                     10.0
2019-04-25 04:00:00       0.147833  ...                                     10.0
2019-04-25 07:00:00       5.024833  ...                                     10.0
2019-04-25 10:00:00      11.363389  ...                                     10.0
2019-04-25 13:00:00      10.962667  ...                                     10.0

[5 rows x 17 columns]